<h1>Stupid Coaching</h1>
<label for="form">ask your coach anything:</label>
<form action="/answer" data-turbo="false" method="get" id="form">
  <input type="text" name="ask" placeholder="what do you want to ask the coach?">
  <input type="submit" value="ask!" >
</form>
